        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: black;
            padding: 20px;
            margin: 0;
        }

        .title {
            color: #3FFF05;
            font-size: 28px;
            text-shadow: 0 0 1px #3FFF05, 0 0 10px rgba(63, 255, 5, 0.5);
            margin-bottom: 20px;
        }
        
        .my-name {
            color: #3FFF05;
            font-size: 28px;
            text-shadow: 0 0 0.5px #3FFF05, 0 0 10px rgba(63, 255, 5, 0.5);
            margin-bottom: 20px;
        }
        
        .step {
          color: #3FFF05;
          font-size: 28px;
          text-shadow: 0 0 0.5px #3FFF05, 0 0 10px rgba(63, 255, 5, 0.5);
          margin-bottom: 20px;
        }
        
        p {
          color: white;
        }

        .all-step {}

        .step-one {
            background: #171717;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            width: 300px;
            margin-bottom: 15px;
            text-shadow: 0 0 0.5px #3FFF05, 0 0 10px rgba(63, 255, 5, 0.5);
        }
        
        .step-two {
            background: #171717;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            width: 300px;
            margin-bottom: 15px;
            text-shadow: 0 0 0.5px #3FFF05, 0 0 10px rgba(63, 255, 5, 0.5);
        }
        
        .link-one {
          border-radius: 25px;
        }
        
        .link-two {
          border-radius: 25px;
        }
        
        .injoy {
          color: #3FFF05;
          font-size: 28px;
          text-shadow: 0 0 0.5px #3FFF05, 0 0 10px rgba(63, 255, 5, 0.5);
          margin-bottom: 20px;
        }
        
        .discord {
          color: black;
          background: #071999;
          padding: 10px;
          border-radius: 10px;
          width: 3px;
          margin-bottom: 15px;
        }
        
        .end {
          text-shadow: 0 0 0.5px #3FFF05, 0 0 10px rgba(63, 255, 5, 0.5);
        }
